body {
    width: 100%;
    height: 100%;
}

#form {
    padding-top: 3vh;
    box-shadow: 0px 0px 6px gray;
    height: 55vh;
    width: 32vw;
    margin: auto;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#container {
    height: 55vh;
    width: 34vw;

}

.input-email {
    outline: none;
    margin-left: 2vw;
}

.input-pass {
     outline: none;
    margin-left: 2vw;
}

#head {
    text-align: center;
}

input {
     outline: none;
    margin-top: 2vh;
    margin-bottom: 3vh;
    width: 20vw;
    height: 5vh;
    border-radius: 8px;
    
}

#btn_login {
    display : flex;
    justify-content: center;
    align-items: center;
    
}

button {
    color: white;
    background-color: rgb(88, 93, 235);
    margin-top: 3vh;
    margin-right: 3vw;
    width: 21vw;
    height: 6vh;
    border-radius: 8px;
    border-color: rgb(166, 158, 206);

}

#input_div {

    margin-left: 3vw;
}

button:hover{
    border-color: rgb(1, 1, 22);
}